.time {
  text-align: center;
  padding: 32px;
  position: relative;
}

.time h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  padding: 8px;
  display: inline-block;
}

.time .colaboradores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 32px;
}

.time .input-color {
  position: absolute;
  top: 20px;
  right: 20px;
}
